body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(15deg, #da43ba, #7322a2);
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 300px;
    padding: 32px;
}

h2{
    color: white;
    text-align: flex-start;
    font-size: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#form-container {
    flex: 1;
    margin-right: 20px;
}

#task-list {
    flex: 2;
    background: linear-gradient(45deg, #da43ba, #7322a2);
    border: 1px solid #de43ba;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

#task-list h2 {
    background-color: #7322a2;
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 24px;
    border-bottom: 1px solid #de43ba;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.done {
    color: rgb(28, 216, 25);
}

.not-done {
    color: #4b0772
    
}
#task-list table {
    width: 100%;
    border-collapse: collapse;
}

#task-list th, #task-list td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
    color: white;
}

.button1, .button2, .button3 {
    padding: 12px 24px;
    background-color: #7322a2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button1:hover {
    background-color: #da43ba;
}

.button2:hover {
    background-color: #218838;
}

.button3:hover {
    background-color: red;
}

#form-container {
    position: relative;
}

#taskIcon {
    position: absolute;
    top: 60px;
    left: 10%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.25), 0 12px 12px rgba(0, 0, 0, 0.25), 0 16px 16px rgba(0, 0, 0, 0.25), 0 20px 20px #de43ba;
}

@media only screen and (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        padding: 20px; 
    }

    #form-container {
        margin-right: 0;
        margin-top: 20px;
    }

    #task-list {
        margin-top: 20px;
    }

    #taskIcon {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin-bottom: 20px;
    }
}





